<script type='text/javascript' src="/static/glmatrix095.js"></script>
<script id='shader-fs' type='x-shader/x-fragment'>
	precision mediump float;

	void main(void) {
		gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
	}
</script>
<script id='shader-vs' type='x-shader/x-vertex'>
	attribute vec3 aVertexPoisition;

	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;

	void main(void){
		gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPoisition, 1.0);
	}
</script>
<script>
var triangleVertexPositionBuffer, squareVertexPositionBuffer;

var gl;
function initGL(canvas){
	try{
		gl = canvas.getContext('experimental-webgl');
		gl.viewportWidth = canvas.width;
		gl.viewportHeight = canvas.height;
	} catch(e){
		//why this is empty, dunno?
	}
	if(!gl){
		alert("Count not initialize WebGL.");
	}
}

var shaderProgram;
function initShaders(){
	var fragmentShader = getShader(gl, 'shader-fs');
	var vertexShader = getShader(gl, 'shader-vs');

	shaderProgram = gl.createProgram();
	gl.attachShader(shaderProgram, vertexShader);
	gl.attachShader(shaderProgram, fragmentShader);
	gl.linkProgram(shaderProgram);

	if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)){
		alert("Could not initalize shaders.")
	}

	gl.useProgram(shaderProgram);

	shaderProgram.vertexPositionAttribute = gl.getAttribLocation(shaderProgram, "aVertexPoisition");
	gl.enableVertexAttribArray(shaderProgram.vertexPositionAttribute);

	shaderProgram.pMatrixUniform = gl.getUniformLocation(shaderProgram, "uPMatrix");
    shaderProgram.mvMatrixUniform = gl.getUniformLocation(shaderProgram, "uMVMatrix");


}

function getShader(gl, id){
	var shaderScript = document.getElementById(id);
	if (!shaderScript){
		return null;
	}

	var str = "";
	var k = shaderScript.firstChild;
	while(k){
		if (k.nodeType == 3)
			str += k.textContent;
		k = k.nextSibling;
	}

	var shader;
	if (shaderScript.type == 'x-shader/x-fragment'){
		shader = gl.createShader(gl.FRAGMENT_SHADER);
	} else if (shaderScript.type == 'x-shader/x-vertex'){
		shader = gl.createShader(gl.VERTEX_SHADER);
	} else {
		return null;
	}

	gl.shaderSource(shader, str);
	gl.compileShader(shader);

	if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)){
		alert(gl.getShaderInfoLog(shader));
		return null;
	}

	return shader;
}

var mvMatrix = mat4.create();
var pMatrix = mat4.create();

function setMatrixUniforms(){
	gl.uniformMatrix4fv(shaderProgram.pMatrixUniform, false, pMatrix);
	gl.uniformMatrix4fv(shaderProgram.mvMatrixUniform, false, mvMatrix);
}

function initBuffers(){
	//create a gl buffer
	triangleVertexPositionBuffer = gl.createBuffer();

	//bind the buffer to being the "current" gl buffer
	gl.bindBuffer(gl.ARRAY_BUFFER, triangleVertexPositionBuffer);

	var vertices = [
		0.0, 1.0, 0.0,
		-1.0, -1.0, 0.0,
		1.0, -1.0, 0.0
	];

	//fill the buffer with the vertice data
	gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);

	//these are custom properties for our own information
	triangleVertexPositionBuffer.itemSize = 3;
	triangleVertexPositionBuffer.numItems = 3;


	//now setup the square
	squareVertexPositionBuffer = gl.createBuffer();
	gl.bindBuffer(gl.ARRAY_BUFFER, squareVertexPositionBuffer);
	vertices = [
		1.0, 1.0, 0.0,
		-1.0, 1.0, 0.0,
		1.0, -1.0, 0.0,
		-1.0, -1.0, 0.0
	];
	gl.bufferData(gl.ARRAY_BUFFER, new Float32Array(vertices), gl.STATIC_DRAW);
	squareVertexPositionBuffer.itemSize = 3;
	squareVertexPositionBuffer.numItems = 4;
}

function drawScene(){
	//this seems redundant, but is apparently necessary? Defines size of canvas in gl
	gl.viewport(0,0, gl.viewportWidth, gl.viewportHeight);

	//clear the canvas
	gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

	//setup the perspective (from which "we" view the screen)
	//.1 is min distance
	// 100 is max distance
	// 45 is how wide our field of view is (in degrees)
	mat4.perspective(45, gl.viewportWidth / gl.viewportHeight, 0.1, 100.0, pMatrix)

	//unsure what this does
	//i think it moves us to the ecenter of the scene (something about being a identity matrix)
	mat4.identity(mvMatrix);

	//multiply mvMatrix (our center) by a translation matrix
	mat4.translate(mvMatrix, [-1.5, 0.0, -7.0]);

	//start drawing shit
	//specify current buffer
	gl.bindBuffer(gl.ARRAY_BUFFER, triangleVertexPositionBuffer);

	//tell gl what values to use i think
	gl.vertexAttribPointer(shaderProgram.vertexPositionAttribute, triangleVertexPositionBuffer.itemSize, gl.FLOAT, false, 0,0);

	//tell gl to pay attention to our current model view matrix we setup before (mvMatrix)
	setMatrixUniforms();

	//draw
	gl.drawArrays(gl.TRIANGLES, 0, triangleVertexPositionBuffer.numItems);


	mat4.translate(mvMatrix, [3.0, 0.0, 0.0]);
	gl.bindBuffer(gl.ARRAY_BUFFER, squareVertexPositionBuffer);
	gl.vertexAttribPointer(shaderProgram.vertexPositionAttribute, squareVertexPositionBuffer.itemSize, gl.FLOAT, false, 0, 0);
	setMatrixUniforms();
	gl.drawArrays(gl.TRIANGLE_STRIP, 0, squareVertexPositionBuffer.numItems)

}

function webGLStart(){
	var canvas = document.getElementById("lesson01-canvas");
	initGL(canvas);
	initShaders();
	initBuffers();

	gl.clearColor(0.0,0.0,0.0,1.0);
	gl.enable(gl.DEPTH_TEST);

	drawScene();
}

</script>

<body onload="webGLStart();">
  <canvas id="lesson01-canvas" style="border: none;" width="500" height="500"></canvas>
  <br/>
</body>
